---
const { data, url } = Astro.props;
---

<article>
  <a href={url}><h4>{data.title}</h4></a>
  <p>{data.description}</p>
  <img src={data.postImage.src} width="150px" alt={data.postImage.alt} />
</article>
